<a href="https://colab.research.google.com/github/ohmreborn/AboutMe/blob/main/%E0%B9%82%E0%B8%9E%E0%B8%A2_datasci_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

สอน import pandas as pd

*   pd.Series
  *   myvar = pd.Series(a, index = [1, 2, 3]) 
สอนตั้งชื่อบรรทัด
  *   สร้าง Series จาก Dictionary

สอน pd.DataFrame()

In [ ]:
import pandas as pd
data = {
 "calories": [420, 380, 390],
 "duration": [50, 40, 45]
}
df = pd.DataFrame(data)
""" output df
   calories  duration
0       420        50
1       380        40
2       390        45
"""
#print ตารางออกมาแค่ตําแหน่งที่ 0
"""
output df.loc[0]
calories    420
duration     50
"""

'\noutput df.loc[0]\ncalories    420\nduration     50\n'

In [ ]:
import pandas as pd
data = {
 "calories": [420, 380, 390],
 "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
"""   output df
      calories  duration
day1       420        50
day2       380        40
day3       390        45
"""

'   output df\n      calories  duration\nday1       420        50\nday2       380        40\nday3       390        45\n'

pd.read_csv('data.csv')

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')

In [ ]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [ ]:
df.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [ ]:
# ข้อ 1
import pandas as pd
df = pd.read_csv('data.csv')
total = 0
for i in df["Duration"]:
    total += i
print(total)

10790

In [ ]:
# ข้อ 2
import pandas as pd
df = pd.read_csv('data.csv')
total = 0
for i in df["Duration"]:
  if i <= 120:
    total += i
print(total)

8340

In [ ]:
# ข้อ 3
import pandas as pd
df = pd.read_csv('data.csv')
df[df["Pulse"]>=100]

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[129 rows x 4 columns]

In [ ]:
# ข้อ 4
import pandas as pd
df = pd.read_csv('data.csv')
df[df["Pulse"]<df["Calories"]]

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[159 rows x 4 columns]

In [ ]:
# ข้อ 5
import pandas as pd
df = pd.read_csv('data.csv')
df[df["Maxpulse"]-df["Pulse"]>10]

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [ ]:
df.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB